<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.myapidemos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.example.alex.myapidemos.ApiDeoms" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!-- MY APPLICATION PACKAGE SAMPLES -->
        <!-- ************************************* -->


        <!-- Activity Samples -->

        <activity
            android:name=".app.HelloWorld"
            android:label="App/Activity/HelloWorld" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.DialogActivity"
            android:label="App/Activity/Dialog"
            android:theme="@android:style/Theme.Holo.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.CustomDialogActivity"
            android:label="App/Activity/Custom Dialog"
            android:theme="@style/Theme.CustomDialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.OverscanActivity"
            android:label="App/Activity/OverscanActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Overscan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.QuickContactsDemo"
            android:label="App/Activity/QuickContactsDemo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.WallpaperActivity"
            android:label="App/Activity/WallpaperActivity"
            android:theme="@style/Theme.Wallpaper" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.TranslucentActivity"
            android:label="App/Activity/TranslucentActivity"
            android:theme="@style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.TranslucentBlurActivity"
            android:label="App/Activity/TranslucentBlurActivity"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.alex.myapidemos.app.AnimationActivity"
            android:label="App/Activity/AnimationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- 没有存储功能 -->
        <activity
            android:name=".app.SaveRestoreState"
            android:label="App/Activity/SaveRestoreState"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.PersistentState"
            android:label="App/Activity/PersistentState"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ActivityRecreate"
            android:label="App/Activity/ActivityRecreate" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.FinishAffinity"
            android:label="App/Activity/FinishAffinity"
            android:taskAffinity=":finishing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.SoftInputModes"
            android:label="App/Activity/SoftInputModes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ReceiveResult"
            android:label="App/Activity/ReceiveResult" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".app.SendResult" >
        </activity>
        <activity 
            android:name=".app.Forwarding"
            android:label="App/Activity/Forwarding"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.example.alex.myapidemos.ApiDeoms.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".app.ForwardTarget"
            ></activity>
    </application>

</manifest>